body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

.header {
    /* border: 1px dotted red; */
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    font-size: 35px;
    padding: 2%;
    color: white;
    margin-left: 5%;
    /* display: flex;
    flex-direction: column; */
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed; 
    width: 100%;
    font-size: 20px;
}

.nav_bar {
    list-style-type: none;
    /* border: 1px dotted red; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 50px;  
    text-shadow: 1px 1px grey;
}

.nav_a {
    margin: 0 2px;
    padding: 0;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none; /* removes underline */
}

.nav_b {
    padding: 0px 100px;  /* adjusts the space between the links in nav*/
    color: #ffffff;
    font-weight: 900;
    text-decoration: none; 
}

.nav_c {
    font-weight: normal;
    padding: 0px 5px;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none; 
}

.title {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 200%;
}

.title2 {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 200%;
}

.title3 {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 200%;
}

main {
    color: #ffffff;
    background-color: rgb(31, 56, 61);
    padding: 8%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer {
    color: #ffffff;
    background-color: rgb(105, 39, 45);
    padding: 5%;
}

.subscribe {
    text-align: center;
}

.email-form-container {
    text-align: center;
}

.email-form {
    display: inline-block;
}

.email {
    border: 2px solid white;
    background-color: white;
    color: rgb(112, 106, 106);
    padding: 5px 50px;
}

.button {
    background-color: white;
    padding: 5px 15px;
}

.parallax {
    background-image: url("../img/cfg\ calton.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallaxTwo {
    background-image: url("../img/cfg\ edinburgh night.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



