body {
    background: #ffffff;
    font-family: 'Nixie One', cursive;
  }

.header {
    border: 1px dotted red;
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    font-size: 35px;
    padding: 50px;
    /* display: flex;
    flex-direction: column; */
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_bar {
    list-style-type: none;
    border: 1px dotted red;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 50px;
    
}

.nav_a {
    margin: 0 2px;
    padding: 0
}

.nav_b {
    padding: 0px 100px;  /* adjusts the space between the links in nav*/
}

.nav_c {
    font-weight: normal;
    padding: 0px 5px;

}




